<div class="h1">
  <h1>Liste des apprenants</h1>
</div>
<div class="row">
  <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
      <div class="card">
          <div class="card-header">
              <h5 class="mb-0">Data Tables - Print, Excel, CSV, PDF Buttons</h5>
          </div>
          <div class="card-body">
              <div class="table-responsive">
                  <table id="example" class="table table-striped table-bordered second" style="width:100%">
                      <thead>
                          <tr>
                              <th>Prenom</th>
                              <th>Nom</th>
                              <th>Tel</th>
                              <th>Mail</th>
                              <th>Photo</th>
                              <th>Poste</th>
                              <th>Date Création</th>
                              <th>Actions</th>



                          </tr>
                      </thead>
                      <tbody>
                          <tr>
                              <td>Elhadji Mbacke</td>
                              <td>Mbaye</td>
                              <td>773674576</td>
                              <td>mbacke@growstrategyzer.com</td>
                              <td>mbacke.png </td>
                              <td>Développeur Web </td>
                              <td>2011/04/25</td>
                              <td></td>
                          </tr>
                          <tr>
                            <td>Elhadji Yaya</td>
                            <td>Ly</td>
                            <td>773674576</td>
                            <td>yaya@growstrategyzer.com</td>
                            <td>yaya.png </td>
                            <td>Développeur Web </td>
                            <td>2011/04/25</td>
                            <td></td>
                          </tr>
                        
                         
                         
                      </tbody>
                      <tfoot>
                          <tr>
                              <th>Titre</th>
                              <th>Description</th>
                              <th>Image</th>
                              <th>Durée</th>
                              <th>Niveau</th>
                              <th>Catégorie</th>
                              <th>Date Création</th>
                              <th>Actions</th>


                          </tr>
                      </tfoot>
                  </table>
              </div>
          </div>
      </div>
  </div>
</div>

