<div class="container">
  <div class="form-background">
<img src="../../assets/img/logogrow.png"  width="150" height="120" alt=""> <img src="../../assets/img/SA.png"  width="150" height="120" class="sa" alt="">
 <form [formGroup]="utilisateur" >
  <input type="text" placeholder="Mot de passe actuel" formControlName="passwordactuel">
  <br>
  <input type="text" placeholder="Nouveau mot de passe" formControlName="passwordnew">
  <br>
  <input type="text" placeholder="Confirmez nouveau mot de passe" formControlName="passwordnew2">
  <br><br>
  <input type="submit" value="Valider" [disabled]="!utilisateur.valid" >
</form>
</div>
</div>
