<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/font-awesome@4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/lykmapipo/themify-icons@0.1.2/css/themify-icons.css">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/pixeden-stroke-7-icon@1.2.3/pe-icon-7-stroke/dist/pe-icon-7-stroke.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/flag-icon-css/3.2.0/css/flag-icon.min.css">
<div class="container">
    <div class="row">
      <div class="img col-md-2">
          <img src="../../../../assets/img/mbaye.jpeg" height="150" alt="">
      </div>
      <div class="info col-md-4">
        <h1>Elhadji Mbacke Mbaye</h1>
        <span>Developpeur Web/Mobile</span> <br>
        <span>773674576</span> <br>
        <span>mbacke@gmail.com</span> <br>
      </div>
      <div class="col-md-2">
        <input type="submit" value="Modifier Profil" class="btn btn-primary">

      </div>
    </div>

 <div class="row">
  <div class="bloc col-md-2">
    <span class="title">Perseverance</span> <br>
    <span class="pourcent">43,2%</span> <br>
  </div>
  <div class="bloc col-md-2">
    <span class="title">Confiance en soi</span> <br>
    <span class="pourcent">43,2%</span> <br>
  </div>
  <div class="bloc col-md-2">
    <span class="title">Collaboration</span> <br>
    <span class="pourcent">43,2%</span> <br>
  </div>
  <div class="bloc col-md-2">
    <span class="title">Résolution</span> <br>
    <span class="pourcent">43,2%</span> <br>
  </div>
  <div class="bloc col-md-2">
    <span class="title">Autonomie</span> <br>
    <span class="pourcent">43,2%</span> <br>
  </div>
 
 </div>
   

  <div class="row">
    <div class="col-lg-6">
      <div class="card line-chart-example">
        <div class="card-header d-flex align-items-center">
          <h4>Perseverance</h4>
        </div>
        <div class="card-body">
          <div class="chart-container">
            <canvas id="perseverance"></canvas>
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-6">
      <div class="card line-chart-example">
        <div class="card-header d-flex align-items-center">
          <h4>Confiance</h4>
        </div>
        <div class="card-body">
          <div class="chart-container">
            <canvas id="confiance"></canvas>
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-6">
      <div class="card line-chart-example">
        <div class="card-header d-flex align-items-center">
          <h4>Collaboration</h4>
        </div>
        <div class="card-body">
          <div class="chart-container">
            <canvas id="collaboration"></canvas>
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-6">
      <div class="card line-chart-example">
        <div class="card-header d-flex align-items-center">
          <h4>Autonomie</h4>
        </div>
        <div class="card-body">
          <div class="chart-container">
            <canvas id="autonomie"></canvas>
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-6">
      <div class="card line-chart-example">
        <div class="card-header d-flex align-items-center">
          <h4>Résolution</h4>
        </div>
        <div class="card-body">
          <div class="chart-container">
            <canvas id="autonomie"></canvas>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>














