<div class="h1">
  <h1>Ajout un groupe</h1>
</div>
<div class="bloc">


<form class=" form example-form">
  <mat-form-field class="example-full-width">
    <mat-label>Nom du groupe</mat-label>
    <input matInput placeholder="Ex. Groupe1" >
  </mat-form-field>

</form>
    <ng-template matStepLabel>Récapitulatifs</ng-template>
    <p>Verifier vos données saisies avant validation</p>
    <p>----------------------------------------------</p>
    <strong>Nom du groupe :</strong> <span></span> <br>
 

    <div>
      <button  class="btnvalider" mat-button >Valider</button>
    </div>

</div>